firebase_functions~=0.2.0
google-cloud-firestore
firebase-admin
git+https://github.com/rawkintrevo/council-of-elders.git
pinecone-client==3.2.2
llama-index-core==0.10.49
llama-index-embeddings-openai==0.1.8
llama-index-readers-papers==0.1.5
llama-index-readers-file==0.1.25
llama-index-vector-stores-pinecone==0.1.6
EbookLib==0.18
beautifulsoup4==4.12.3
pymupdf==1.24.5
tiktoken==0.6.0
html2text==2024.2.26
RestrictedPython==7.2

